@import 'tailwindcss';

@theme {
  --color-accent: #09202C;
  --color-primary: #5C82A1;
  --color-background: #FFFFFF;
  --color-textPrimary: #4A4E57;
  --color-inputBorder: #CCCCCC;
  
  --font-family-sans: 'HelveticaNowText', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Oxygen-Sans', Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  
  --radius: 6px;
}

@layer base {
  * {
    @apply border-inputBorder;
  }
  body {
    @apply bg-background text-textPrimary;
  }
}

